.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


label {
  text-align: left
}
.button3 {
  background-color: #f44336;
  font-size: 12px;
  padding: 14px 40px;
  color: white;
  border-radius: 8px;
  font-weight: bolder;
  cursor: pointer;
}
.button3:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.div1 {
  border-radius: 5px;
  background-color:#f8fadc;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  display:inline-block;
vertical-align: top;
  width: 40%;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
  height: 35em;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  border: 3px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px; 
  background-color:white;
  font-size: 16px;
  resize: vertical;

}
h1{
  color:teal;
}
input[type="file"] {
  position: relative;
  overflow: hidden;
  display: inline-block;
  

}